body {
    margin: 2.5vw;
    padding: 2.5vw;
    background-color: #367af5;
    border-radius: 25px;

}

a {
    color: #cc16ae;
    border: 1px solid #5ac5f9;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    border: 1px solid #1345a1;
    background-color: #cc16ae;
    color: #367af5;
}
.back > a, .info > a {
    padding: .3vw;
}

h1 {
    text-align: center;
    color: #12264b;
}

input, select, textarea {
    background-color: #44bdfa;
}

.content, header {
    border: solid 1px #5ac5f9;
    border-radius: 25px;

    background-color: #5ac5f9;
    color: #12264b;
}

.content {
    padding: 3vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

header {
    padding-bottom: 2vw;
}

.info, .back {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    border: 1px solid #5ac5f9;
    border-radius: 5px;

    padding: 0.2vw; 
    margin: 0.2vw;

    color: #cc16ae;
    background-color: #5ac5f9;
}
footer a strong {
    font-weight: bold;
    padding: 0.1vw;

    border: 1px solid #cc16ae;
    border-radius: 5px;

    background-color: #cc16ae;
    color: #5ac5f9;
}
footer a:hover {
    color: #5ac5f9;
    background-color: #cc16ae;
}
footer a:hover strong {
    color: #cc16ae;
    background-color: #5ac5f9;
    border-color: #5ac5f9;
}