body {
    margin: 2.5vw;
    padding: 2.5vw;
    background-color: #79e4ff;
    border-radius: 25px;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5vw;

}

a {
    color: #cc16ae;
    border: 1px solid #58deff;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    background-color: #43d8fd;
}
.back > a, .info > a {
    padding: .3vw;
}

h1 {
    text-align: center;
    color: #12264b;
}

input, select, textarea {
    background-color: #67e1ff;
    font-size: 1.5vw;

}
form {
    padding-left: 3vw;
    font-size: 1.5vw;
}

.content, header {
    border: solid 1px #58deff;
    border-radius: 25px;

    background-color: #58deff;
    color: #12264b;
}

.content {
    padding: 3vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

header {
    padding-bottom: 2vw;
}

.info, .back {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    border: 1px solid #58deff;
    border-radius: 5px;

    padding: 0.2vw; 
    margin: 0.2vw;

    color: #cc16ae;
    background-color: #58deff;
}
footer a strong {
    font-weight: bold;
    padding: 0.1vw;

    border: 1px solid #cc16ae;
    border-radius: 5px;

    background-color: #cc16ae;
    color: #58deff;
}
footer a:hover {
    color: #58deff;
    background-color: #cc16ae;
}
footer a:hover strong {
    color: #cc16ae;
    background-color: #58deff;
    border-color: #58deff;
}