body {
    margin: 2.5rem;
    padding: 2.5rem;
    background-color: #79e4ff;
    border-radius: 25px;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
}

a {
    color: #cc16ae;
    border: 1px solid #58deff;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    background-color: #43d8fd;
}
.info > a {
    padding: .3rem;
}

h1 {
    text-align: center;
    color: #12264b;
}

input, select, textarea {
    background-color: #67e1ff;
    font-size: 1.5rem;

}
form {
    font-size: 1.5rem;
}

.content, header {
    border: solid 1px #58deff;
    border-radius: 25px;

    background-color: #58deff;
    color: #12264b;
}

.content {
    padding: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

header {
    padding-bottom: 2rem;
}

.info {
    text-align: center;
}
#info {
    padding: 2.5rem;
}
#displayInfo, #hideInfo {
    font-size: 1.5rem;
    background-color: #58deff;
    border: #58deff 1px solid;
    color: #cc16ae;
    border-radius: 5px;
}
#displayInfo:hover, #hideInfo:hover {
    background-color: #43d8fd;
}
#hideInfo {
    text-align: center;
}
.center {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    border: 1px solid #58deff;
    border-radius: 5px;

    padding: 0.2rem; 
    margin: 0.2rem;

    color: #cc16ae;
    background-color: #58deff;
}
footer a strong {
    font-weight: bold;
    padding: 0.1rem;

    border: 1px solid #cc16ae;
    border-radius: 5px;

    background-color: #cc16ae;
    color: #58deff;
}
footer a:hover {
    color: #58deff;
    background-color: #cc16ae;
}
footer a:hover strong {
    color: #cc16ae;
    background-color: #58deff;
    border-color: #58deff;
}