body {
    margin: 2.5vw;
    padding: 2.5vw;
    background-color: #367af5;
    border-radius: 25px;

}

.info > a, .back > a{
    color: #1345a1;
    padding: .3vw;
    border: 1px solid #5ac5f9;
    border-radius: 5px;
}
.info >a:hover, .back > a:hover {
    border: 1px solid #1345a1;
    background-color: #1345a1;
    color: #367af5;
}

h1 {
    text-align: center;
    color: #12264b;
}

input, select, textarea {
    background-color: #44bdfa;
}

.content, header {
    border: solid 1px #5ac5f9;
    border-radius: 25px;

    background-color: #5ac5f9;
    color: #12264b;
}

.content {
    padding: 3vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

header {
    padding-bottom: 2vw;
}

.info, .back {
    text-align: center;
}

footer {
    text-align: center;
}
footer > a {
    color: #1345a1;
}
