body {
    margin: 2.5vw;
    padding: 2.5vw;
    background-color: #ffffff;
    border-radius: 25px;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5vw;
}

a {
    color: #0000EE;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    border: 1px solid #c7c7c7;
    background-color: #c7c7c7;
}
.back > a, .info > a {
    padding: .3vw;
}

h1 {
    text-align: center;
    color: #000000;
}

input, select, textarea {
    background-color: #d6d6d6;
    font-size: 1.5vw;

}
form {
    font-size: 1.5vw;
}

.content, header {
    border: solid 1px #d6d6d6;
    border-radius: 25px;

    background-color: #d6d6d6;
    color: #000000;
}

.content {
    padding: 3vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

header {
    padding-bottom: 2vw;
}

.info, .back {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    border: 1px solid #d6d6d6;
    border-radius: 5px;

    padding: 0.2vw; 
    margin: 0.2vw;

    color: #000000;
    background-color: #d6d6d6;
}
footer a strong {
    font-weight: bold;
    padding: 0.1vw;

    border: 1px solid #000000;
    border-radius: 5px;

    background-color: #000000;
    color: #d6d6d6;
}
footer a:hover {
    color: #d6d6d6;
    background-color: #000000;
}
footer a:hover strong {
    color: #000000;
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}