body {
    margin: 2.5rem;
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 25px;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
}

a {
    color: #0000EE;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    text-decoration: none;
}
a:hover {
    background-color: #c7c7c7;
}
.info > a {
    padding: .3rem;
}

h1 {
    text-align: center;
    color: #000000;
}

input, select, textarea {
    background-color: #d6d6d6;
    font-size: 1.5rem;

}
form {
    font-size: 1.5rem;
}

.content, header {
    border: solid 1px #d6d6d6;
    border-radius: 25px;

    background-color: #d6d6d6;
    color: #000000;
}

.content {
    padding: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

header {
    padding-bottom: 2rem;
}

.info {
    text-align: center;
}
#info {
    padding: 2.5rem;
}
#displayInfo, #hideInfo {
    font-size: 1.5rem;
    background-color: #d6d6d6;
    border: #d6d6d6 1px solid;
    color: #0000EE;
    border-radius: 5px;
}
#displayInfo:hover, #hideInfo:hover {
    background-color: #c7c7c7;
}
#hideInfo {
    text-align: center;
}
.center {
    text-align: center;
}
footer {
    text-align: center;
}
footer a {
    border: 1px solid #d6d6d6;
    border-radius: 5px;

    padding: 0.2rem; 
    margin: 0.2rem;

    color: #000000;
    background-color: #d6d6d6;
}
footer a strong {
    font-weight: bold;
    padding: 0.1rem;

    border: 1px solid #000000;
    border-radius: 5px;

    background-color: #000000;
    color: #d6d6d6;
}
footer a:hover {
    color: #d6d6d6;
    background-color: #000000;
}
footer a:hover strong {
    color: #000000;
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}